/* card */

.card{
	position: relative;
	width: 200px;
	height: 275px;
	cursor: pointer;
}

.card img{
	max-width: 100%;
	max-height: 100%;
	display: block;		
}

.card-content{
	width: 100%;
	height: 100%;
	transition: transform cubic-bezier(.32,.23,.26,1.55) 1s;
	transform-style: preserve-3d;
	border: 2px solid #fff;
	border-radius: 6px;
}

.front, .back{
	backface-visibility: hidden;
	top: 0;
	position: absolute;
}

.front {
	background-color: #606060;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.front p{
	flex-grow: 1;
}

.flipped.card-content{
	transform: rotateY(180deg);
}

/* Shine effect */

.front::before{
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 0.3);
	height: 100%;
	width: 25%;
	transform: skewX(-30deg);
	left: -130px;
}

.flipped .front::before{
	animation: shine 1s;
}

@keyframes shine {
	0%,100%{
		left: -130px;
	}
	50%{
		left: 100%;
	}
}

/* Flash effect */

.flash{
	animation: flash cubic-bezier(1, 0, 0, 1) .7s .7s;
	
}

@keyframes flash {
	0%{
		box-shadow: 0px 0px 0px 0px #fff;
	}

	50%{
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0px 0px 20px 4px #fff;
	}

	100%{
		background-color: #606060;
	}
}





