.settings{
	position: absolute;
	background-color: #6e6e16ee;
	top: 10%;
	border-radius: 0 30px 30px 0;
	width: 450px;
	left: -430px;
	height: 200px;
	transition: height ease-in .5s .5s, left ease-in .5s ;
}

.settings-container{
	padding: 2rem;
}

.show-settings-button{
	position: absolute;
	right: 0;
	top: 70px;
	width: 20px;
	height: 70px;
	background-color: #515151;
	display: flex;
	align-items: center;
	border-radius: 5px 0 0 5px;
	cursor: pointer;
}

.show-settings{
	left: 0;
	height: 80%;
	transition: height ease-in .5s, left ease-in .5s .5s;
}

input{
	border-radius: 5px;
	border: none;
}

.pkmCount{
	text-align: center;
}

.select-cards{
	display: flex;
	flex-direction: column;
}

.search-container{
	position: relative;
	width: min-content;
  margin-inline: auto;
}

#searchInput{
	padding: 10px;
	width: 300px;
}

#suggestionList{
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-y: scroll;
	
	max-height: 371px;
	background-color: #666666;

  
  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
 
	& li{
		padding: 10px;
		cursor: pointer;
		border: 1px solid #ddd;
	}
}

.input-element{
	display: flex;
	column-gap: 1rem;
}

/* Tags */

.tags-container{
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	gap: .5rem;
}

.tag{
	background-color: #a8a8a8 ;
	padding: 2px 8px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: .5rem;
	font-size: 1rem;
}

.tag-close{
	cursor: pointer;

	&:hover{
		color: rgba(255, 255, 255, .97);
		scale: 1.2;
	}
}
